.summaryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.675rem;
    border: #a9dce3 solid;
}

.activeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.675rem;
    border: #7689de solid;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.675rem;
}

.user{
    text-align: center;
    flex-grow: 1;
}

.profile{
    text-align: right;
}
